<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#customers td, #customers th {
  border: 10px solid #bbb;
  padding: 8px;
}

table{
    table-layout: fixed;
    width: 800px;
}


#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
}

.suptitle {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  color: black;
}
.title {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}
.image {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
}
.ingridient {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
}

</style>
</head>
<body>

<table id="customers">
  <tr>
    <td colspan="3" class="suptitle"><a href="https://cookpad.com/search/ホタテ%E3%80%80ホタテ%E3%80%80えび">ホタテ+えび</a></th>
  </tr>
  <tr>
    <th class="title"><a href="https://cookpad.com/recipe/5879406">エビ・イカ・ホタテ・野菜の塩炒め by ガルディエリア 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/6017209">海老とホタテとブロッコリーのフリッター by サンプラザ医食同源 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/4531520">エビとベビーホタテのチーズ焼き by グルメシアン 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
  </tr>
  <tr>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5879406/280x487s/ccc37e9c3e047ad0d84c7ff73f12f165.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/6017209/280x487s/96ff1fe40869b54a380f42fe1175311d.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/4531520/280x487s/35605d3d960cfceef69e60d98cda112b.jpg" width="200"></td>
  </tr>
  <tr>
    <td class="ingridient">必要な材料<br>エビ         ... 100g      <br>イカ         ... 100g      <br>ホタテ貝       ... 100g      <br>白菜         ... 200g（1/8個）<br>パプリカ       ... 1個        <br>アスパラガス     ... 1/2束      <br>ゆでたけのこ     ... 100g      <br>生しいたけ      ... 4～5枚      <br>貝柱スープ      ... カップ1/2    <br>酒          ... 小さじ1      <br>砂糖         ... 小さじ1/2    <br>塩          ... 小さじ1/2    <br>淡口醤油
      ... 小さじ1      <br>片栗粉
       ... 大さじ1      <br>塩（下味用）     ... 小さじ1/2    <br>片栗粉（下味用）
  ... 大さじ2      <br>重曹（下味用）
   ... 小さじ1/4    <br>サラダ油（下味用）  ... 小さじ1      <br></td>
    <td class="ingridient">必要な材料<br>海老         ... ４尾(約60g）  <br>ホタテ        ... 4個（約70g）  <br>ブロッコリー     ... 1/2株（約150g）<br>パプリカ（赤・黄）  ... 各1/4個（各35g）<br>トマト（くし形）   ... 2切        <br>塩          ... 適量        <br>卵          ... 1個        <br>小麦粉        ... 80g       <br>牛乳         ... 50ml      <br>水          ... 150㏄      <br>マヨネーズ      ... 大さじ1      <br>ベーキングパウダー
 ... 小さじ1      <br>塩          ... 小さじ1/3    <br>揚げ油
       ... 適量        <br></td>
    <td class="ingridient">必要な材料<br>冷凍えび       ... 10個位      <br>ボイルベビーほたて  ... 15個位      <br>玉ねぎ        ... 1個        <br>アスパラ       ... 5-6本位     <br>オリーブオイル
   ... 小さじ1位     <br>塩コショウ      ... 少々        <br>チェダーチーズ(切れているタイプ) ... 5-6枚位     <br>マヨネーズ      ... お好みの量で♪   <br></td>
  </tr>
</table>

<table id="customers">
  <tr>
    <td colspan="3" class="suptitle"><a href="https://cookpad.com/search/ホタテ%E3%80%80ホタテ%E3%80%80小松菜">ホタテ+小松菜</a></th>
  </tr>
  <tr>
    <th class="title"><a href="https://cookpad.com/recipe/5974124">ほたてと小松菜のアンチョビソテー by にゃこゆ 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/5880965">ホタテと小松菜の卵お焼きトマトソース添え by サンプラザ高知 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/5894724">簡単！ホタテと根菜のマヨポン炒め by だんどり亭 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
  </tr>
  <tr>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5974124/280x487s/eb9e37f3e3cd4f623e5c7b452c7b0148.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5880965/280x487s/6be7c43ed808c3bea3110abef66c59e7.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5894724/280x487s/6606d0bd58f39722cb66726f044e1e7a.jpg" width="200"></td>
  </tr>
  <tr>
    <td class="ingridient">必要な材料<br>ほたて        ... 12〜15個位   <br>小松菜        ... 1/2袋      <br>アンチョビフィレ   ... 2切れ       <br>オリーブオイル
   ... 大さじ1      <br>ハーブソルト
    ... 少々        <br>黒こしょう      ... 少々        <br></td>
    <td class="ingridient">必要な材料<br>ホタテ        ... 80ｇ       <br>小松菜        ... 50ｇ       <br>卵          ... ２個        <br>小麦粉・米粉     ... 各大さじ１     <br>牛乳         ... 50ｍｌ      <br>塩          ... 少々（１ｇ）    <br>コショー       ... 少々        <br>カゴメ　トマトケチャップ ... 大さじ３      <br>しょうゆ       ... 小さじ１      <br>赤ワイン
      ... 大さじ２      <br>オリーブ油
     ... 大さじ2/3    <br>カゴメ　トマトケチャップ ... 少々        <br></td>
    <td class="ingridient">必要な材料<br>ほたて        ... 3個        <br>人参         ... 1/2       <br>蓮根         ... 2cm       <br>小松菜        ... 2わ        <br>酒          ... 大さじ1      <br>マヨネーズ      ... 小さじ2      <br>ポン酢醤油      ... 小さじ2      <br></td>
  </tr>
</table>

<table id="customers">
  <tr>
    <td colspan="3" class="suptitle"><a href="https://cookpad.com/search/えび%E3%80%80えび%E3%80%80小松菜">えび+小松菜</a></th>
  </tr>
  <tr>
    <th class="title"><a href="https://cookpad.com/recipe/5945393">スープ海老餃子 by K☆A 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/5886160">海老とベーコン、小松菜のトマトパスタ by 自由なリメイカー 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
    <th class="title"><a href="https://cookpad.com/recipe/5867987">エビだし巻き小松菜添え（血ダ食1425） by デビオさっちゃん 【クックパッド】 簡単おいしいみんなのレシピが322万品</a></td>
  </tr>
  <tr>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5945393/280x487s/6714fce1d37a91c669bb7007fc2ee10d.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5886160/280x487s/7bcdc415108e74205873b0bfb6985adf.jpg" width="200"></td>
    <td class="image"><img src="https://img.cpcdn.com/recipes/5867987/280x487s/e23de34fcf6285680587e31f1ab9c028.jpg" width="200"></td>
  </tr>
  <tr>
    <td class="ingridient">必要な材料<br>小松菜        ... 3センチ幅     <br>金時人参       ... ピーラー      <br>れんこん       ... 薄切り       <br></td>
    <td class="ingridient">必要な材料<br>リングイネ      ... 200g      <br>殻付き海老(中)   ... 8尾        <br>酒          ... 大さじ1-2    <br>薄切りベーコン    ... 1枚        <br>玉ねぎ(中)     ... 1/2個      <br>小松菜        ... 4束        <br>オリーブオイル
   ... 大さじ1 1/2  <br>にんにく
      ... 1かけ       <br>カットトマト缶    ... 2/3缶      <br>白ワイン
      ... 50ml      <br>コンソメ
      ... 大さじ1      <br>塩コショウ      ... 少々        <br>粉チーズ       ... 少々        <br></td>
    <td class="ingridient">必要な材料<br>卵          ... 2個        <br>生えび ぶつ切り   ... 4匹分       <br>甘味料か甘酒     ... 小さじ1～2    <br>塩          ... 少々        <br>小松菜        ... 人束        <br>豆乳
        ... 大さじ1      <br></td>
  </tr>
</table>


</body>
</html>
